@import 'node_modules/bootstrap/scss/bootstrap';

body {
  background-color: rgb(32, 32, 32);
  color: white;
}


/* SCSS PER LE CARDS */
img {
  width: 100%;
}

.card-text {
  img {
    width: 20px;
  }
}