@import 'node_modules/bootstrap/scss/bootstrap';

body {
  background-color: rgb(32, 32, 32);
  color: white;
}


/* SCSS PER LE CARDS */
img {
  width: 100%;
}

.card-text {
  img {
    width: 20px;
  }
}

#card_container {

  position: relative;

  #card_info {
    display: none;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.294);

    &:hover {
      display: block;
    }
  }

}