@use '../app.scss' as *;

img {
    width: 100%;
}

.card-text {
    img {
        width: 20px;
    }
}

#card_container {

    position: relative;

    transition: box-shadow 1s linear, border 1s linear;

    &:hover {
        border: 1px solid rgba(255, 255, 255, 0.367);
        box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
    }

    &:hover #card_info {
        display: block;
    }


    .card {
        width: 100%;
        height: 100%;
        background-color: rgb(14, 14, 14);
        border: none;



    }

    #card_info {
        display: none;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.453);
        overflow: auto;
    }



}